:root {
    --primary-black: #161616;
    --secondary-black: #252525;
    --primary-white: #F2F2F2;
    --secondary-white: #CCCCCC;

    --box-shadow: 5px 5px #00000055;
}

html, body {
    background: var(--primary-black);
    color: var(--primary-white);
    
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: radial-gradient(var(--primary-black) 60%, black);
}

#main {
    margin-top: 100px;

    --shadow-color: white;
    --shadow-blur: 0px;
    --shadow-distance: 2px;
    filter: drop-shadow(0 0 0 var(--secondary-black))
            drop-shadow(         var(--shadow-distance)           var(--shadow-distance)  var(--shadow-blur) var(--shadow-color))
            drop-shadow(         var(--shadow-distance)  calc(-1* var(--shadow-distance)) var(--shadow-blur) var(--shadow-color))
            drop-shadow(calc(-1* var(--shadow-distance))          var(--shadow-distance)  var(--shadow-blur) var(--shadow-color))
            drop-shadow(calc(-1* var(--shadow-distance)) calc(-1* var(--shadow-distance)) var(--shadow-blur) var(--shadow-color));
}

.grass-tile {
    --hxt-stroke-color : #062500;
    --hxt-border-color : #062500;
}

.water-tile {
    opacity: 0.8;
    --hxt-stroke-color : #ffffff22;
    --hxt-border-color : #ffffff22;
}