:root {
    --primary-black: #161616;
    --secondary-black: #252525;
    --primary-white: #F2F2F2;
    --secondary-white: #CCCCCC;

    --box-shadow: 5px 5px #00000055;
}

html, body {
    background: var(--primary-black);
    color: (--primary-white);
    
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.water-tile {
    opacity: 0.8;

    --hxt-floor-color  : #3191ff;
    --hxt-lateral-color: #0077ff;
    --hxt-stroke-color : #ffffff22;
    --hxt-border-color : #ffffff22;
}