:root {
    --primary-black: #161616;
    --secondary-black: #252525;
    --primary-white: #F2F2F2;
    --secondary-white: #CCCCCC;

    --box-shadow: 5px 5px #00000055;
}

html, body {
    background: var(--primary-black);
    color: var(--primary-white);
    
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: radial-gradient(var(--primary-black) 60%, black);
}

#main {
    --shadow-color: #0a0a0a;
    --shadow-blur: 0px;
    --shadow-distance: 2px;
    filter: drop-shadow(         var(--shadow-distance)           var(--shadow-distance)  var(--shadow-blur) var(--shadow-color))
            drop-shadow(         var(--shadow-distance)  calc(-1* var(--shadow-distance)) var(--shadow-blur) var(--shadow-color))
            drop-shadow(calc(-1* var(--shadow-distance))          var(--shadow-distance)  var(--shadow-blur) var(--shadow-color))
            drop-shadow(calc(-1* var(--shadow-distance)) calc(-1* var(--shadow-distance)) var(--shadow-blur) var(--shadow-color));
}

#main {
    margin-left: -40%;
    margin-top: -10%;
}

.water-tile {
    opacity: 0.8;

    --hxt-floor-color  : #3191ff;
    --hxt-lateral-color: #0077ff;
    --hxt-stroke-color : #ffffff22;
    --hxt-border-color : #ffffff22;
}